{% include page_heading %}

	<h1>Issue #{{ issue.id }} {{ issue.status }}</h1>

	<table>

		<tr>
			<td colspan="2">
				{{ issue.creater }} created an issue at {{ issue.created }}
				{% if issue.creater == user  or issue.assignee == user %}
					<p>
						<a href="/issuetrack/issue/{{ issue.id }}/change/">
							Edit Issue
						</a>
					</p>
				{% endif %}
			</td>
		</tr>

		<tr>
			<th>Title:</th>
			<td>{{ issue.title }}</td>
		</tr>

		<tr>
			<th>Description:</th>
			<td>
				{{ issue.description|safe }}
			</td>
		</tr>

		<tr>
			<th>Assignee:</th>
			<td>
				{{ issue.assignee }}
			</td>
		</tr>

		<tr>
			<th>Steps to replicate this issue:</th>
		
			<td>
				{% if issue.steps %}
					{{ issue.steps|safe }}
				{% else %}
					N/A
				{% endif %}
			</td>
		</tr>

		<tr>
			<th>
				Observed behavior:
			</th>

			<td>
				{% if issue.observed %}
					{{ issue.observed|safe }}
				{% else %}
					N/A
				{% endif %}
			</td>
		</tr>

		<tr>
			<th>
				Expected Behavior
			</th>
		
			<td>
				{% if issue.expected %}
					{{ issue.expected|safe }}
				{% else %}
					N/A
				{% endif %}
			</td>
		</tr>

	</table>

	<table>
		<tr>
			<td>
				<h3>Comments ({{ comment_list.count }})</h3>
			</td>
		</tr>

		<tr>
			<td colspan="2">
				<a href="{% url 'add_comment' issue_id=issue.id %}">
					Add Comment
				</a>
		</tr>
		
		{% for comment in comment_list %}
			
			<tr>
				<td>
					<p>
						<strong>
							{{ comment.audience }} Comment added by 
							{{ comment.author }} at {{ comment.created }} (Status Set As: 
							<em>
								{{ comment.issue_status }}
							</em>)
						</strong>
					</p>
					<p>
						{{ comment.text|safe }}
					</p>
					{% if comment.author == user %}
						<p>
							<a href="/issuetrack/comment/{{ comment.id }}/change/">
								Edit
							</a>
						</p>
					{% endif %}
				</td>
			</tr>

		{% endfor %}
	
	</table>

{% include foot %}