{% include page_heading %}

	<h1>Projects List</h1>

	<table>
		
		<tr>

			<th>Name</th>
			<th>Key</th>
			<th>Owner</th>
			<th>Actions</th>
		
		</tr>
		
		{% for project in project_list %}
			
			<tr>
				
				<td>
					
					<a href="{% url 'project' project_id=project.id %}">
						{{ project.name }}
					</a>
				
				</td>
				
				<td>{{ project.key }}</td>
				<td>{{ project.owner.username }}</td>
				{% if project.owner == user %}

					<td>
						<a 
							href="{% url 'change_project' project_id=project.id %}"
						>
							Edit
						</a>
					</td>

					<td>
						<a 
							href="{% url 'delete_project' project_id=project.id %}"

							onclick="return confirm('This will delete the <{{ project.name }}> project and all issues associated with it. Click OK to confirm');"
						>
							Delete
						</a>
					</td>

				{% else %}

					<td>None available</td>

				{% endif %}
			</tr>

		{% empty %}

			<tr>
				<td>No items</td>
			</tr>

		{% endfor %}
	
	</table>

{% include foot %}