{% include page_heading %}

	<h1>Project - {{ project.name }}</h1>

	{% if user.is_staff or user.is_superuser or user == project.owner %}

	<p>
		<a href="{% url 'change_project' project_id=project.id %}">
			Edit Project Details
		</a>
	</p>

	{% endif %}

	<table>

		<tr>
			<th>
				Name
			</th>

			<td>
				{{ project.name }}
			</td>
		</tr>

		<tr>
			<th>
				Key
			</th>

			<td>
				{{ project.key }}
			</td>
		</tr>

		<tr>
			<th>
				Owner
			</th>

			<td>
				{{ project.owner.username }}	
			</td>
		</tr>

		<tr>
			<th>
				Description
			</th>

			<td>
				{{ project.description|safe }}
			</td>

		</tr>
		
		<tr>
			<th>Members</th>
			
			<td>
				<ul>
					{% for member in project.members.all %}
						<li>{{ member.username }}</li>
					{% endfor %}
				</ul>
			</td>
		
		</tr>

		{% if user.is_staff or user.is_superuser or user == project.owner %}
			
			<tr>
				<td colspan="2">
					
					<a href="{% url 'add_component' project_id=project.id %}">
						Add Component
					</a>
				
				</td>
			</tr>

		{% endif %}

		<tr>

			<th>Components</th>
			
			<td>
				<ul>
					{% for component in project.component_set.all %}
						
						<li>{{ component.name }}</li>
						
						<p>
							{{ component.description|safe }}
						</p>

						{% if user.is_staff or user.is_superuser or user == project.owner %}

							<p>
								<a 
									href="{% url 'change_component' component_id=component.id %}"
								>

									Edit
								
								</a>
								 &middot; 
								
								<a 
									href="{% url 'delete_component' component_id=component.id %}"

									onclick="return confirm('Click OK to confirm deletion.');"
								>
									Delete
								</a>
							</p>
					
						{% endif %}

					{% endfor %}
				</ul>
			</td>
		</tr>
	</table>

{% include foot %}