<!doctype html>

<html>

	<head>
		
		<title>{{ page_title }}</title>

		<link rel="stylesheet" type="text/css" href="/static/admin/css/base.css" />
		
		<link rel="stylesheet" type="text/css" href="/static/admin/css/dashboard.css" />
		
		<link rel="stylesheet" type="text/css" href="/static/admin/css/forms.css" />

	</head>

	<body class=" app-issuetrack model-comment change-form"
  data-admin-utc-offset="0">

		<div id="container">

			<div id="header">

				<div id="branding">
					<h1 id="site-name">Issue Track</h1>
				</div>

				<div id="user-tools">

					Hi, {{ user.username }}! 
					&middot;
					<a href="/admin/">Admin Console</a> 
					&middot; 
					<a href="{% url 'logout' %}">Logout</a> 

				</div>

			</div>

			<div class="breadcrumbs">

				<a href="{% url 'index' %}">Home</a>
				 &middot; 
				<a href="{% url 'projects' %}">Projects</a>
				 &middot; 
				<a href="{% url 'add_issue' %}">Create New Issue</a>
				 &middot; 
				<a href="{% url 'add_project' %}">Add New Project</a>

			</div>

			<div id="content" class="colM">

				<div id="content-main">